

<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
            <div class="row g-3">
                <h3>Contact US</h3>
                <div class="col col-12 col sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card border-primary mb-3" >
                        <div class="card-header">NeST DIGITAL CORPORATE OFFICE</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title">Plot No. 2, Cochin Special Economic Zone
                            (CSEZ), Kakkanad, Cochin – 682 037, India
                            Phone: +91-484-661 4300</h5>
                          <p class="card-text"></p>
                        </div>
                    

                    </div>
                </div>
                <div class="col col-12 col sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card border-primary mb-3" >
                        <div class="card-header">FOR BUSINESS RELATED ENQUIRIES</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title">Email: sales.nestdigital@nestgroup.net</h5>
                          <p class="card-text">Ph: +91-484-6701000, +91484-4203333</p>
                        </div>
                    

                    </div>
                </div>
                <div class="col col-12 col sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="card border-primary mb-3" >
                        <div class="card-header">NeST DIGITAL DEVELOPMENT CENTERS</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title">NeST Tech Park, NeST Valley,</h5>
                          <p class="card-text">Near Infopark, Infopark P.O,
                            Kakkanad, Kochi, Kerala,</p>
                        </div>
                    

                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
