
<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img height="300px" src="https://i.ytimg.com/vi/JkO8P-BoB90/maxresdefault.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"></p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img height="300px" src="https://i.ytimg.com/vi/2U_LbIU27c4/maxresdefault.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"></p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img height="300px" src="https://pbs.twimg.com/media/FV6OvNraIAAdmLE?format=jpg&name=large" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"></p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8z0iFF56G-8oxH77crNFcaajf6fTtDZv7keUVdzZsTIhESjX8RRdJSecJhaF5nXhNM_k&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"></p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgxEMqNtyNDx6YsPe3KINJ1d56EZfo_wrYYuWpW2GnpWXmOWtRlN7BKEq82dFsA2tFc7g&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"></p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img height="300px" src="https://content.jdmagicbox.com/comp/ernakulam/z6/0484px484.x484.190205075233.l2z6/catalogue/nest-tech-park-kakkanad-ernakulam-fhd8qrqr1k.jpg?clr=1c1c4a" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"></p>
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>
