<app-navbar></app-navbar>
<div style=" background-image : url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzOiSj9jSmKibp2lyYZeU2Jj3im9hw7pwuSHMSpOM_NA&s');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">

<div  class="container">
    <div class="row">
        
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <h3>Admin Login</h3>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Username</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">
                </div>
            </div>    
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValue()" class="btn btn-success">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>